body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.left-section{
    width: 60%;
    margin-top: 20px;
    margin-left: 33px;
}

.container{
    width:100%;
    display: flex;
    height: 550px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    margin-left: 1px;

}

.nav-items{
    display: flex;
    list-style: none;
    padding: 5px;
}


.logo img{
   
    width: 180px;
}

.signup{
    margin-left: 8px;
    background-color: black;
    color: white;
    padding: 10px 29px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.login{
    margin-top: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.login:hover{
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.head{
    margin-top: 45px;
    margin-left: -28px;
}

.head h1{
    margin-left: 155px;
}

.head p{
    font-size: 24px;
    font-weight: 300;
    width: 600px;
    margin-top: -20px;
    margin-bottom: 0;
    line-height: 40px;
    letter-spacing: -.3px;
    color: #686b78;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 155px;
}

.head input{
    border: 1px solid orangered;
    border-right: none;
    padding: 10px;
    width: 465px;
    margin-left: 155px;
    height: 36px;
    margin-top: 20px;
    border-color: #bebfc5;
}

.head input:focus{
    outline: none;
}


.location i{
    
    margin-left: -112px;
    color: #535665;
}

.locateme{
    height: 24px;
    border: none;
    background-color: transparent;
    color: #535665;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}



 .findfood{
    padding: 15px;
    margin-left: -5px;
    background-color: #fc8019;
    border: none;
    height: 58px;
    color: white;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.head h3{
    font-weight:400;
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px;
    letter-spacing: -.2px;
    text-transform: uppercase;
    margin-left: 161px;
}

.head-down{
    display: flex;
    margin-left: 110px;
    margin-top: -20px;
    cursor: pointer;
    
    
}
.down{
    display: flex;
    justify-content: flex-start;
    margin-left: 109px;
    margin-top: -30px;
    cursor: pointer;
    

    }

.down ul{
    list-style: none;
}

.down .light{
    margin-left: -30px;
}

.head-down ul{
    display: flex;
    list-style: none;
}

.dark{
    margin-left: 10px;
    color: #686b78;
    font-size: 14px;
    font-weight: 600;
}
.light{
    margin-left: 10px;
    color: #93959f;
    font-size: 14px;
    font-weight: 600;
}

/* Right Section */

.right-section{
    width: 40%;
    
   
}

.image img{
    object-fit: cover;
   height: 545px;
   width: 655px;
   margin-left: -50px;

}

/* Right section end */

/* Section 2 */

.section-2{
    
    
    display: flex;
}

.row{
    height: 350px;
    width: 100%;
    display: flex;
    background-color:rgb(48, 30, 24);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: -5px;
    
}

.row img{
    height: 150px;
    padding: 15px;
    margin-left: 34px;
    
    
}

.card{
    margin-bottom: 72px;
    color: white;
    font-size: 15px;
}

.card h2{
    margin-bottom: -11px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card p{
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* section 2 end */

/* section 3 */

.contents{
    display: flex;
    margin-top: -19px;
    height: 581px;
    justify-content: center;
}
.left-section2{
    width: 40%;
   
    
}
.images3{
    display: flex;
    width: 15px;
    height: 54px;
    margin-left: 160px;
    margin-top: -20px;
    cursor: pointer;
    
}
#ios{
    margin-left: 10px;
}

.head2{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    align-items: center;
    margin-top: 71px;
}
.head2 h2{
    color: #282c3f;
    font-size: 40px;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;
}

.head2 p{
    font-size: 20px;
    width: 400px;
    font-weight: 300px;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
    margin-left: 87px;
    margin-top: -30px;
}
.right-section2{
    display: flex;
   width: 60%;
 
}
#app1{
    height: 500px;
    width: 365px;
}
#app2{
    height: 500px;
    margin-top: 81px;
    width: 365px;
}

/*  */

.content3{
     display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: black;
    margin-left: -35px;
           
}

.topics h4{
    color: gray;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.topics ul{
    list-style: none;
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    text-align: left;
    cursor: pointer;
}

.topics ul li:hover{
    transform: scale(1.03);
}

.images img{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 15px;
    padding-left: -100px;
}
.img2{
    margin-top: 20px;
}

/*  */

.blank{
    background-color: black;
   margin-top: -25px;
   
    display: flex;
    flex-direction: column;
    
    
    
}

.hrtag{
    background-color: #4d4d4d;
    height: 1px;
    width: 1300px;
    margin-left: 100px;
    margin-top: 1px;
}

/* Blank line End */

/* places */

.places{
    background-color: black;
    margin-top: -45px;
}

.head4{
    color: gray;
    margin-left: 100px;
    margin-top: 50px;
    padding: 45px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}
.content4 {
    display: flex;
    justify-content: space-around;
}
.subhead4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-right: 120px;
    margin-left: 15px;
    margin-top: -46px;
    line-height: 35px;
}

.subhead4 ul{
    list-style: none;
}

.subhead4  li:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/* Places End */

.blank1{
    background-color: black;
   margin-top: -25px;
   
    display: flex;
    flex-direction: column;
    
    
    
}

.hrtag1{
    background-color: #4d4d4d;
    height: 1px;
    width: 1230px;
    margin-left: 100px;
    margin-top: 50px;
}
/* Footer */

.container4{
    background-color: black;
    width: 100%;
}
.contents5{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    margin-left: -100px;
}

.img5 img{
    width: 146px;
    cursor: pointer;
}

.copyright{
    font-size: 20px;
    letter-spacing: -.6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.socialmedia img{
    cursor: pointer;
    margin-left: 20px;
   width: 24px;
   height: 24px;
}

.socialmedia img:hover{
    transform: scale(1.2);
}
